<h1 class="song-name"><%= obj.song %></h1>
<h3 class="singer-name"><%= obj.singer %></h3>
<h3 class="album-name">专辑：<%= obj.album %></h3>
<h3 class="rhythm">编曲：<%= obj.rhythm %></h3>
<h3 class="lyric">歌词：<%= obj.lyric %></h3>