*{
	margin: 0;
	padding: 0;
}
.wrapper{
	position: absolute;
	top: 200px;
	left:200px;
	width: 40px;
	height: 40px;
	background-color: #00CCCC;
	border-radius: 20px;
}
.circle {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #00CCCC url(../image/search.png) no-repeat 7px;
	z-index: 10;
}
.circle:hover {
	cursor: pointer;
}
.search{
	position: absolute;
	top: 5px;
	left: 40px;
	width: 0px;
	height: 30px;
	z-index: 1;
	border: none;
	padding-left: 10px;
	font-size: 16px;
	color: #888;
}
